@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;900&display=swap");

.profile-question-main {
  @apply flex relative;
  display: flex;
  flex-direction: column;
}
.page-div {
  @apply justify-between flex;
}
.header-div {
  @apply justify-start relative;
}
.get-started-bar {
  @apply mt-5  justify-center;
}
.started-div {
  @apply md:text-left md:text-[59px];
}
.toggle-button-div {
  @apply justify-center flex mr-4 mt-4 bg-[#64FFDA] rounded-lg xl:mr-24 xl:mt-20 w-[4.37rem] h-[4.37rem];
}
.profile-question-text-div {
  @apply pt-[2.25rem] max-w-[63.44rem] mx-auto  sm:pl-0 xl:px-0 md:mx-0 min-[920px]:pr-0;
  max-width: 920px;
}
.button-div {
  @apply px-5 md:px-0 max-md:mx-auto;
}
.container {
  max-width: 1760px;
  margin: auto;
  width: 100%;
}

.sidebar {
  position: fixed;
  width: 300px;
  overflow-y: scroll;
  height: 100%;
  border-radius: 10px;
}

.right-div-login {
  border-radius: 10px;
}
.text-welcome {
  font-family: var(--font-rubik);
  font-size: 50px;
  font-weight: 600;
  line-height: 59.25px;
  letter-spacing: 0em;
  color: #054141;
}

.sign-in-title {
  font-family: var(--font-inter);
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  color: #054141;
}

.input-tag {
  @apply h-full w-full border-b  	 bg-transparent pb-7 outline-0;
}

.input-text {
  font-family: var(--font-inter);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.text-login-button {
  font-family: var(--font-inter);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  color: #ffffff;
}

.text-forget-password {
  font-family: var(--font-inter);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.empty-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.spin-loader {
    text-align: center;
    height: 50px;
    margin-top: 20px;
    padding-top: 20px;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black; /* Change background to black */
  z-index: 9999;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black; /* Change background to black */
  z-index: 9999;
}
.small-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black; /* Change background to black */
  z-index: 9999;
  border-radius: 10px; /* Example border radius */

}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.1); /* Change border color to a light white */
  border-left-color: #fff; /* Change border-left color to white */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/* Auth CSS */

.main-container {
  @apply bg-gradient-to-b from-gray6d to-black06;
}
.logo-img {
  @apply ml-8 pt-8;
}.plus-img {
  @apply ml-8 pt-4;
}
.logo-img-header {
  @apply ml-8  ;
}
.logo-chat {
  @apply ml-8  h-[30px] w-[30px] mt-[40px];
}
.header-txt {
  @apply text-[70px] text-white text-center mt-5 ml-32 mr-32 font-archivo font-[800];
}
.header-sub-txt {
  @apply text-[30px] text-gray82 text-center mt-2;
}
.textInput-txt {
  @apply text-[16px] text-white mb-1 font-inter_tight font-[200];
}

.textInput-txt-blue {
  @apply text-[16px] text-blueF0 mb-1 font-inter_tight font-[200];
}
.textInput {
  @apply w-[480px] text-[14px] mb-2 h-12 rounded-2xl p-4 focus:outline-none;
}
.box-container {
  @apply h-[427] w-[580px] bg-black26 mb-[220px] mt-8 rounded-3xl shadow-2xl;
}
.center-container {
  @apply flex justify-center;
}
.box-container-img {
  @apply pt-8;
}
.btn-login {
  @apply w-[160px] h-[50px] border-white text-center border-[1px] rounded-full mt-4 text-blueF0 font-inter_tight;
}
.btn-join {
  @apply w-[100px] h-[40px]   text-center border-[1px] rounded-full mt-2 text-black06 font-inter_tight bg-yellow;
}


.btn-challenge {
  @apply w-[100px] h-[35px]   text-center border-[1px] rounded-xl   text-black06 font-inter_tight bg-yellow mb-2;
}.btn-accept {
  @apply w-[100px] h-[35px]   text-center border-[1px] rounded-xl   text-black06 font-inter_tight bg-green mb-2 pb-1;
}.btn-Decline {
  @apply w-[100px] h-[35px]   text-center  rounded-xl   text-white font-inter_tight bg-black25 mb-2;
}.btn-accept-rules {
  @apply w-[200px] h-[35px]   text-center border-[1px] rounded-xl   text-black06 font-inter_tight bg-yellow mb-2;
}
.modal-common-block-send {
  position: absolute;
  border-radius: 10px !important;
}.my-divider {
  border: 0.5px solid gray; /* White color for the divider */
  margin: 20px 0; /* Adjust the margin as needed */
}
.sign-up-containers {
  @apply bg-black06 h-screen;
}
.textInput-txt-signUp {
  @apply text-[22px] text-white mb-12 font-inter_tight text-center font-[200];
}
.textInput-txt-pw {
  @apply text-[22px] text-white   font-inter_tight text-center font-[200];
}

.textInput-signUp {
  @apply w-[480px] text-[14px] mb-2 h-12 border-b-2 border-white text-white bg-black06    outline-none;
}
 
.dropdown-available {
  @apply w-[240px] text-[22px] mb-2 h-12   text-white bg-black06  font-[600]   ml-6 mt-6 outline-none;
}
.textInput-search {
  @apply w-[60%] text-[14px] mb-2 h-12    rounded-3xl text-white bg-black25 outline-none ml-4 mt-6 pl-6;
}
.date-dropdown {
  @apply w-[100px] flex text-[14px]  h-12 border-b-2 border-white text-white bg-black06  mr-4  outline-none;
}
.state-dropdown {
  @apply w-[232px] flex text-[14px]  h-12 border-b-2 border-white text-white bg-black06  mr-4  outline-none;
}
.zipcode-dropdown {
  @apply w-[332px] flex text-[14px]  h-12 border-b-2 border-white text-white bg-black06  mr-4  outline-none;
}
.date-dropdown-innerContainer {
  @apply h-10 w-[100px] bg-black06 focus:outline-none;
}
.date-dropdown-state {
  @apply h-10 w-[200px] bg-black06 focus:outline-none;
}
.dropdown-arrow {
  @apply mt-[12px] absolute ml-[84px];
}
.btn-next {
  @apply w-[160px] h-[45px] border-white text-center border-[1px] rounded-full mt-16 text-white font-inter_tight;
}
.btn-yellow {
  @apply w-[160px] h-[45px]   text-center border-[1px] rounded-full mt-16 text-black06 font-inter_tight bg-yellow;
}
.drawer-txt-container {
  @apply flex space-x-6 ml-6 mt-10;
}
.drawer-txt {
  @apply text-[16px] text-white   font-inter_tight font-[400] mt-[4%];
}
.drawer-txt-blue {
  @apply text-[16px] text-blueF0   font-inter_tight font-[400] mt-[4%];
}
.bold-txt {
  @apply text-[22px] text-white  font-inter_tight font-[600] ml-6 mt-6;
}
.avl-txt {
  @apply text-[18px] text-white  font-inter_tight font-[600] ml-6 mt-2;
}.earn-txt {
  @apply text-[18px] text-white  font-inter_tight font-[600]  mt-2;
} 
.header-home-txt {
  @apply text-[32px] text-white  font-inter_tight font-[600]  ml-6 mt-6;
}.model-txt {
  @apply text-[22px] text-white  font-inter_tight font-[400]  text-center;
}
.react-multi-carousel-list
  .react-multi-carousel-track
  .react-multi-carousel-item {
  height: 200px !important;
  width: 350px !important;
}
.react-multi-carousel-list .react-multi-carousel-track {
  gap: 20px;
}
.bold-txt-match {
  @apply text-[62px] text-white  font-inter_tight font-[700] ml-12 pt-12;
}
.semi-bold-txt-match {
  @apply text-[28px] text-white  font-inter_tight font-[600] ml-12 mt-8;
}
.normal-bold-txt-match {
  @apply text-[20px] text-white  font-inter_tight font-[200] ml-12 mt-8 w-[50%];
}
.normal-txt-match {
  @apply text-[22px] text-white  font-inter_tight font-[200] mt-56;
}
.medium-txt-match {
  @apply text-[60px] text-white  font-inter_tight font-[300] mt-10;
}
.blue-txt-match {
  @apply text-[22px] text-blueF0  font-inter_tight font-[300] mt-10;
}
.medium-txt-seeds {
  @apply text-[40px] text-white  font-inter_tight font-[300] mt-10;
}
.seeds-txt {
  @apply text-[18px] text-white mt-[1px] font-inter_tight font-[300] mt-4;
}
.seeds-container {
  @apply flex space-x-6 ml-[22%] mt-12 mb-12;
}
.seeds-large-txt {
  @apply text-[28px] text-white   font-inter_tight font-[300] mt-[0.8%] mr-12;
}
.dispute-txt {
  @apply text-[14px] text-gray6E ml-[20px] font-inter_tight font-[300] mt-8;
}
.dispute-white-txt {
  @apply text-[16px] text-white  ml-[20px]  font-inter_tight font-[300] mt-6;
}
.btn-complete-green {
  @apply w-[150px] h-[40px]   text-center ml-[20px]  rounded-full   text-black06 font-inter_tight bg-green mt-6;
}.btn-complete-red {
  @apply w-[150px] h-[40px]   text-center ml-[20px]  rounded-full   text-black06 font-inter_tight bg-red mt-6;
}.btn-complete-yellow {
  @apply w-[150px] h-[40px]   text-center ml-[20px]  rounded-full   text-black06 font-inter_tight bg-yellow mt-6;
}
.medium-txt-dispute {
  @apply text-[40px] text-white  font-inter_tight font-[400]  ml-[20px] pt-12 pb-12 ml-[2%];
}
.sub-container-dispute {
  @apply h-48 w-[96%] bg-gray30 mb-2 rounded-2xl ml-[2%] flex;
}
.medium-txt-profile {
  @apply text-[30px] text-white  font-inter_tight font-[300] mt-14 ml-8;
}
.regular-txt-profile {
  @apply text-[14px] text-white  font-inter_tight font-[300] mt-2;
}
.regular-txt-profile-margin {
  @apply text-[14px] text-white  font-inter_tight font-[300] mt-2 ml-[100px];
}

.regular-txt-profile-full {
  @apply text-[14px] text-white  font-inter_tight font-[300] mt-12 ml-16;
}
.btn-edit {
  @apply w-[100px] h-[30px] border-white text-center border-[1px] rounded-md mt-4 text-white font-inter_tight;
}
.badge-container {
  @apply mt-4 mb-4 rounded-xl h-52 w-52;
}
.medium-txt-chat {
  @apply text-[24px] text-white  font-inter_tight font-[600] pt-10 pl-[1%];
}
.chat-container {
  @apply flex space-x-6 ml-[1%] mt-12 mb-12;
} 
.chat-txt {
  @apply text-[18px] text-white  font-inter_tight font-[300];
}.create-txt {
  @apply text-[18px] text-white  font-inter_tight font-[300] mt-1;
}
.chat-txt-gray {
  @apply text-[14px] text-gray6d  font-inter_tight font-[300];
}

.match-txt {
  @apply text-[22px] text-white  font-inter_tight font-[500] ml-6;
}.userName-txt {
  @apply text-[22px] text-white  font-inter_tight font-[500]   text-center mt-2 ;
}
.match-time-txt {
  @apply text-[72px] text-white  font-inter_tight font-[600]  ml-[46.7%] mt-[4%] absolute;
}
.match-vs-txt {
  @apply text-[72px] text-white  font-inter_tight font-[600]  ml-[47.4%] mt-[16%] absolute;
}
.btn-ready {
  @apply w-[150px] h-[40px]   text-white text-center font-[500]  rounded-full mt-2  font-inter_tight bg-blueF0 absolute ml-[46%] mt-[32%];
}
.bold-txt-room {
  @apply text-[82px] text-white  font-inter_tight font-[700]   pt-12 w-[100%] text-center;
}
.btn-logout {
  @apply w-[100px] h-[40px]  ml-[92%] mt-6 text-center border-[1px] rounded-full   text-black06 font-inter_tight bg-yellow;
}
.renderer-view {
  @apply flex-col self-center justify-center flex bg-black06;
}
.transparent-style{

  background-color: #ffffff;
  opacity: .7 ;

}